spring.profiles.active=prod

# Driver Postgresql
spring.datasource.driverClassName=org.postgresql.Driver

# Allows Hibernate to generate SQL optimized for a particular DBMS
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Connection url for the database (if different to default)
spring.datasource.url=jdbc:postgresql://localhost:5432/<YOUR_DATABASE_NAME>

# Username and password
spring.datasource.username=<YOUR_USERNAME>
spring.datasource.password=<YOUR_PASSWORD>

# JWT secret
app.jwt-secret=<YOUR_SECRET_KEY>